@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@model DA.AppBanwao.TariffBazaar.ViewModels.CreateUserModel
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="active">Create User</li>
</ul>
<hr />
<h2>Create User</h2>
<hr />
<div class="row">
    <div class="col-xs-12">
        
        
        
        @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-lg-2 control-label" })

                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                </div>

                <div class="col-lg-4">
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-warning" })

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-lg-2 control-label" })

                <div class="col-lg-6">
                   
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })

                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "col-lg-2 control-label" })

                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })

                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-lg-2 control-label" })

                <div class="col-lg-6">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Role, new { @class = "col-lg-2 control-label" })

                <div class="col-lg-6">
                    @Html.DropDownListFor(m => m.Role, (SelectList)ViewBag.Roles)
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Active, new { @class = "col-lg-2 control-label" })

                <div class="col-lg-6">
                    <div class="checkbox">
                    <label>  @Html.CheckBoxFor(m => m.Active)</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">

                    <button type="submit" class="btn btn-success">Add User <i class="fa fa-plus"></i>  </button>
                    <button type="reset" class="btn btn-default">Cancel</button>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12">
        <a href="@Url.Action("Index","Account")" class="btn btn-danger" >Back</a>
    </div>
</div>